/*  
                      -----------------
===========-----------______FONTS______-----------===========
*/
@import url('https://fonts.googleapis.com/css?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');


/*  
                      ----------------------
===========-----------______GENERAL APP______-----------===========
*/
a {
  text-decoration: none;
  color: inherit;
}

body, #content {
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dark-body {
  background-color: #292929;
}

#content {
  background-image: url('./../img/wall.jpg');
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}

.app-nav {
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 1px 2px 6px 2px #fcfcfc, inset 1px 4px 10px 0 #f9f9f9, inset 0 -2px 3px -2px #e3dfd8, 0 0 3px 0 #f5f4f3, 0 0 5px 0 #d4d0c9, 0 2px 15px 0 #d7d8d2;
          box-shadow: inset 1px 2px 6px 2px #fcfcfc, inset 1px 4px 10px 0 #f9f9f9, inset 0 -2px 3px -2px #e3dfd8, 0 0 3px 0 #f5f4f3, 0 0 5px 0 #d4d0c9, 0 2px 15px 0 #d7d8d2;
  color: lightgray;
  height: 50px;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.dark-body .app-nav {
  background-color: #292929;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 1px 2px 6px 2px #333333, inset 1px 4px 10px 0 #2f2f2f, inset 0 -2px 3px -2px #19151e, 0 0 3px 0 #2b2a29, 0 0 5px 0 #1a160f, 0 2px 15px 0 #1d1e18;
          box-shadow: inset 1px 2px 6px 2px #333333, inset 1px 4px 10px 0 #2f2f2f, inset 0 -2px 3px -2px #19151e, 0 0 3px 0 #2b2a29, 0 0 5px 0 #1a160f, 0 2px 15px 0 #1d1e18;
  color: #161616;
}

.app-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app-nav li {
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -5px -5px 5px 0 #fbfbfb, 5px 5px 5px 0 #e0e1dc, inset 0 0 0 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
          box-shadow: -5px -5px 5px 0 #fbfbfb, 5px 5px 5px 0 #e0e1dc, inset 0 0 0 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.7rem;
  font-weight: 100;
  list-style: none;
  margin-top: -3px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: all 0.2s ease-in 0;
  -o-transition: all 0.2s ease-in 0;
  transition: all 0.2s ease-in 0;
  height: 35px;
  min-width: 25%;
}
.dark-body .app-nav li {
  -webkit-box-shadow: -5px -5px 5px 0 #323232, 5px 5px 5px 0 #261703, inset 0 0 0 0 #262713, inset 5px 5px 4px 20px #292929;
  box-shadow: -5px -5px 5px 0 #323232, 5px 5px 5px 0 #261703, inset 0 0 0 0 #262713, inset 5px 5px 4px 20px #292929;
  text-shadow: 1px 1px 1px #000;
}

.app-nav li:hover {
  -webkit-box-shadow: 5px 5px 5px 0 #fbfbfb, -5px -5px 5px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
          box-shadow: 5px 5px 5px 0 #fbfbfb, -5px -5px 5px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
  color: rgb(13, 216, 216);
  font-size: 1.6rem;
  padding-top: 2px;
}
.dark-body .app-nav li:hover {
  -webkit-box-shadow: 5px 5px 5px 0 #323232, -5px -5px 5px 0 #261703, inset 0 0 0 0 #262713, inset -5px -5px 4px 20px #292929;
  box-shadow: 5px 5px 5px 0 #323232, -5px -5px 5px 0 #261703, inset 0 0 0 0 #262713, inset -5px -5px 4px 20px #292929;
}

.app-nav li:hover a{
  -webkit-transition: color 0.25s ease-in-out 0.1s;
  -o-transition: color 0.25s ease-in-out 0.1s;
  transition: color 0.25s ease-in-out 0.1s;
}

.app-nav li + li {
  margin-left: 10px;
}

.app-nav li a {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.app-header {
  position: relative;
  margin-top: -50px;
}

.header-img {
  left: 0;
  min-width: 900px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
  -webkit-box-shadow: 0 10px 20px 0 #d5d5d3;
          box-shadow: 0 10px 20px 0 #d5d5d3;
}
.dark-body .header-img {
  -webkit-box-shadow: 0 10px 20px 0 #1b1b19;
  box-shadow: 0 10px 20px 0 #1b1b19;
  filter: invert(75%);
}

.header-newsline {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: calc(10% + 50px) 6%;
  width: 70%;
  -webkit-transform: scale(1.3) translateX(100px);
      -ms-transform: scale(1.3) translateX(100px);
          transform: scale(1.3) translateX(100px);
}

.title {
  color: transparent;
  font-size: 5.5rem;
  font-weight: 900;
  font-family: 'Bigshot One', cursive;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 1px #f9f9f9, -2px -1px 1px #fff, -1px -1px 1px #f9f9f9, -1px 1px 0 #f9f9f9, 1px -1px 0 #f9f9f9,
  2px 2px 3px #f9f9f9, 5px 5px 4px #e2dbd6, -2px -2px 10px #fff, -4px -4px 4px #ffffff99, -5px -8px 9px #e4e6df;

  text-shadow: 5px 5px 4px #d3cbbf77, -6px -6px 6px #fbfbfbdd;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
}
.dark-body .title {
  text-shadow: 5px 5px 4px #292929dd, -6px -6px 6px #575757dd;
}

.title:hover {
  -webkit-transform: scaleY(0.9) scaleX(1.1);
      -ms-transform: scaleY(0.9) scaleX(1.1);
          transform: scaleY(0.9) scaleX(1.1);
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.title:after {
  color: #fcfcfc;
  color: #eff0ef;
  content: 'Lo·Eggo';
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  left: 0;
  position: absolute;
  text-shadow: none;
  top: 0;
  white-space: nowrap;
}
.dark-body .title:after {
  color: #303030;
  color: #393a39;
}

.title-menu:after {
  content: 'For · tummy';
}

.title-about:after {
  content: 'The · way';
}

.title-contact:after {
  content: 'Get · touch';
}

.title-about:hover {
  margin-top: -42px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.subtitle {
  color: #f56156;
  -webkit-filter: blur(0.1px);
          filter: blur(0.1px);
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 3rem;
  margin: 0;
  margin-left: 160px;
  margin-top: -5px;
  text-rendering: optimizeLegibility !important;
  text-shadow: 0 -1px 1px #ffe7e5d7, 0 0 2px #ff4a3ddd, 2px 4px 4px #c4bebd60;
  -webkit-font-smoothing: antialiased !important;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
  white-space: nowrap;
}
.dark-body .subtitle {
  text-shadow: 0 -1px 1px #ffe7e5d7, 0 0 2px #ff4a3ddd, 2px 4px 4px #13111160;
}

.subtitle:hover {
  color: #ff6a5f;
  text-shadow: 0 -1px 1px #ffe7e5d7, 0 0 4px #ff493c, 2px 4px 4px #c4bebd60;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.dark-body .subtitle:hover {
  text-shadow: 0 -1px 1px #ffe7e5d7, 0 0 4px #ff493c, 2px 4px 4px #13111160;
}

.cover {
  -webkit-animation: 0.5s fadeout ease-out 2s forwards;
          animation: 0.5s fadeout ease-out 2s forwards; 
  background-color: #f3f3f3;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 190;
}
.dark-body .cover {
  background-color: #292929;
}

.open-animation {
  -webkit-animation: 2s rote ease-in, 1s expFade linear 2.5s;
          animation: 2s rote ease-in, 1s expFade linear 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear,right top, left bottom,from(transparent), to(#1396ca));
  background: -o-linear-gradient(top right,transparent, #1396ca);
  background: linear-gradient(to bottom left,transparent, #1396ca);
  background-color: #3dc6fc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  z-index: 200;
  width: 100%;
}

#stream {
  -webkit-animation: 2s flow ease-out;
          animation: 2s flow ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -75%) rotate(0deg);
      -ms-transform: translate(50%, -75%) rotate(0deg);
          transform: translate(50%, -75%) rotate(0deg);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  z-index: 300;
  width: 900px;
}

.loops {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 310;
}

.loops:nth-child(1) {
  -webkit-transform: rotate(0) translate(0, 0);
      -ms-transform: rotate(0) translate(0, 0);
          transform: rotate(0) translate(0, 0);
}

.loops:nth-child(2) {
  -webkit-transform: rotate(5deg) translate(10%, 5%);
      -ms-transform: rotate(5deg) translate(10%, 5%);
          transform: rotate(5deg) translate(10%, 5%);
}

.loops:nth-child(3) {
  -webkit-transform: rotate(-5deg) translate(20%, 10%);
      -ms-transform: rotate(-5deg) translate(20%, 10%);
          transform: rotate(-5deg) translate(20%, 10%);
}

.loops:nth-child(4) {
  -webkit-transform: rotate(5deg) translate(-10%, 15%);
      -ms-transform: rotate(5deg) translate(-10%, 15%);
          transform: rotate(5deg) translate(-10%, 15%);
}

.loops:nth-child(5) {
  -webkit-transform: rotate(-10deg) translate(15%, 15%);
      -ms-transform: rotate(-10deg) translate(15%, 15%);
          transform: rotate(-10deg) translate(15%, 15%);
}

.loops:nth-child(6) {
  -webkit-transform: rotate(-5deg) translate(-5%, 20%);
      -ms-transform: rotate(-5deg) translate(-5%, 20%);
          transform: rotate(-5deg) translate(-5%, 20%);
}

.loops:nth-child(7) {
  -webkit-transform: rotate(0) translate(5%, 25%);
      -ms-transform: rotate(0) translate(5%, 25%);
          transform: rotate(0) translate(5%, 25%);
}

.loops:nth-child(8) {
  -webkit-transform: rotate(-15deg) translate(15%, 30%);
      -ms-transform: rotate(-15deg) translate(15%, 30%);
          transform: rotate(-15deg) translate(15%, 30%);
}

.loops:nth-child(9) {
  -webkit-transform: rotate(-10deg) translate(-15%, 35%);
      -ms-transform: rotate(-10deg) translate(-15%, 35%);
          transform: rotate(-10deg) translate(-15%, 35%);
}

.loops:nth-child(10) {
  -webkit-transform: rotate(-20deg) translate(10%, 35%);
      -ms-transform: rotate(-20deg) translate(10%, 35%);
          transform: rotate(-20deg) translate(10%, 35%);
}

.loops:nth-child(10) {
  -webkit-transform: rotate(-5deg) translate(10%, -25%);
      -ms-transform: rotate(-5deg) translate(10%, -25%);
          transform: rotate(-5deg) translate(10%, -25%);
}

.loop-group {
  -webkit-animation: 2s riseup ease-out;
          animation: 2s riseup ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 250px;
  margin-left: -425px;
}

.shine {
  position: absolute;
  display: inline-block;
  -webkit-filter: drop-shadow(2px 2px 2px #d3cbbfad) drop-shadow(-2px -2px 2px #fcfcfc) brightness(0.92);
          filter: drop-shadow(2px 2px 2px #d3cbbfad) drop-shadow(-2px -2px 2px #fcfcfc) brightness(0.92);
  opacity: 0.9;
  width: 60px;
  top: -32px;
  left: 73px;
  z-index: 999;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  opacity: 0;
}

.toast {
  cursor: pointer;
  display: inline-block;
  -webkit-filter: drop-shadow(3px 3px 2px #d3cbbfad) drop-shadow(-2px -2px 2px #fcfcfc) brightness(0.96);
          filter: drop-shadow(3px 3px 2px #d3cbbfad) drop-shadow(-2px -2px 2px #fcfcfc) brightness(0.96);
  opacity: 0.8;
  -webkit-transform: rotate(0deg) translateX(0);
      -ms-transform: rotate(0deg) translateX(0);
          transform: rotate(0deg) translateX(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  width: 60px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: -20px;
  left: 37px;
  top: 3px;
  z-index: 1000;
  opacity: 0;
  -webkit-clip-path: polygon(15% 8%, 50% 1%, 100% 0%, 100% 52%, 85% 50%, 40% 58%, 13% 99%, 4% 93%, 2% 50%, 0% 30%, 2% 20%, 8% 11%);
          clip-path: polygon(15% 8%, 50% 1%, 100% 0%, 100% 52%, 85% 50%, 40% 58%, 13% 99%, 4% 93%, 2% 50%, 0% 30%, 2% 20%, 8% 11%);
}

.toast2 {
  background-color: #f8f8f8;
  z-index: 999;
}

.toaster:hover ~ .toast {
  top: -22px;
  opacity: 1;
  -webkit-transform: rotate(5deg) translateX(7px);
      -ms-transform: rotate(5deg) translateX(7px);
          transform: rotate(5deg) translateX(7px);
}

.toaster:hover ~ .shine {
  opacity: 1;
}

.message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 4px #d3cbbf77, 6px 6px 6px #fbfbfbdd;
          box-shadow: -5px -5px 4px #d3cbbf77, 6px 6px 6px #fbfbfbdd;
  background-color: #5550500a;
  overflow: scroll;
  scrollbar-width: none;
  color: #b8b9b9;
  width: 600px;
  max-width: 50vw;
  margin-top: -20px;
  margin-left: 25px;
  height: 160px;
  height: 0;
  padding: 0 30px;
  -webkit-box-shadow: 0px 0px 0px #d3cbbf77, 0px 0px 0px #fbfbfbdd;
          box-shadow: 0px 0px 0px #d3cbbf77, 0px 0px 0px #fbfbfbdd;
  -webkit-transition: 0.2s ease-in 1.5s;
  -o-transition: 0.2s ease-in 1.5s;
  transition: 0.2s ease-in 1.5s;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  display: none;
}

.toaster:hover ~ .message, .message:hover {
  height: 160px;
  padding: 10px 30px;
  -webkit-box-shadow: -5px -5px 4px #d3cbbf77, 6px 6px 6px #fbfbfbdd;
          box-shadow: -5px -5px 4px #d3cbbf77, 6px 6px 6px #fbfbfbdd;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.message strong {
  color: #f56156;
}

.toaster {
  cursor: pointer;
  -webkit-filter: drop-shadow(3px 3px 2px #d3cbbfad) drop-shadow(-2px -2px 2px #fcfcfc) brightness(0.96);
          filter: drop-shadow(3px 3px 2px #d3cbbfad) drop-shadow(-2px -2px 2px #fcfcfc) brightness(0.96);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0.8;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  width: 150px;
  height: 122.45px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: 2.5s shake linear;
          animation: 2.5s shake linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.toaster:hover {
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.toaster-area {
  position: absolute;
  top: calc(100vh - 188px);
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 122px;
}

.tooltip {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  background-color: #292929;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #272727;
  text-shadow: 1.5px 1.5px 1px #1a1a1a, -1.5px -1.5px 1px #3f3f3f;
  -webkit-box-shadow: 6px 6px 8px 2px #a19e9899;
          box-shadow: 6px 6px 8px 2px #a19e9899;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.tooltip:hover {
  background-color: #292929;
  color: #272727;
  text-shadow: 1.5px 1.5px 2px #3f3f3f, -1.5px -1.5px 2px #1a1a1a;
}

.toaster-area:hover .tooltip {
  opacity: 1;
}

.tooltip p {
  margin: 0;
  font-weight: 600;
}

.tooltip i {
  display: inline-block;
  font-size: 3rem;
  text-align: center;
}

.app-footer {
  background-color: #f3f3f371;
  position: fixed;
  z-index: 1;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  top: calc(100vh - 50px);
  -webkit-box-shadow: inset -5px -5px 10px #d3cbbf77, inset 6px 6px 12px #fbfbfbdd;
          box-shadow: inset -5px -5px 10px #d3cbbf77, inset 6px 6px 12px #fbfbfbdd;
}

.app-footer ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 3px;
  margin: 0 25px;
  background-color: #3f3f3f;
  height: 16px;
  width: 33px;
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  box-shadow: -5px -5px 5px 0 #fbfbfbaa, 5px 5px 5px 0 #c9c9c8, 0 0 1px 1px #3f3f3f88;
}

.toggy {
  position: relative;
  display: inline-block;
  background-color: #efefef;
  box-shadow: inset 1px 2px 3px 0 #c9c9c8, inset -1px -1px 2px 0 #fbfbfbaa;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: translateX(0px);
}

.toggy:after {
  content: '';
  position: absolute;
  bottom: 2.5px;
  right: 2px;
  width: 50%;
  height: 50%;
  background-color: #fcfcfc;
  border-radius: 50%;
  filter: blur(2px);
}

.toggle-on .toggy {
  transform: translateX(15px);
  background-color: #292929;
  box-shadow: inset 1px 2px 3px 0 #1a1a1a, inset -1px -1px 2px 0 #3f3f3f;
}

.toggle-on .toggy:after {
  background-color: #4b4b4b;
}

.toggle-on {
  background-color: #efefef;
}

.app-footer li {
  list-style: none;
  color: lightgray;
  font-weight: 100;
}

.app-footer a {
  color: inherit;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.app-footer a:hover {
  color: rgb(13, 216, 216);
}

.selected {
  -webkit-box-shadow: 4px 4px 6px 0 #fbfbfb, -4px -4px 6px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3 !important;
          box-shadow: 4px 4px 6px 0 #fbfbfb, -4px -4px 6px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3 !important;
}
.dark-body .selected {
  -webkit-box-shadow: 4px 4px 6px 0 #323232, -4px -4px 6px 0 #261703, inset 5px 5px 4px 20px #292929 !important;
          box-shadow: 4px 4px 6px 0 #323232, -4px -4px 6px 0 #261703, inset 5px 5px 4px 20px #292929 !important;
}

@media only screen and (max-width: 1240px) {
  .header-img {
    min-width: unset;
    width: unset;
    height: 100vh;
    left: 0;
  }

  .header-newsline {
    -webkit-transform: scale(1.2) translateX(50px);
        -ms-transform: scale(1.2) translateX(50px);
            transform: scale(1.2) translateX(50px);
  }
}

@media only screen and (max-width: 900px) {
  .header-newsline {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1)
  }

  .header-img {
    min-width: unset;
    width: 175vh;
    height: unset;
    left: calc(-100vh + 50vw);
    margin-top: 50px;
  }

  .toaster-area {
    bottom: -280px;
  }
  .message {
    background-color: #e6e6e4dd;
  }
}

@media only screen and (max-width: 453px) {
  .header-newsline {
    -webkit-transform: scale(1) translateY(50px);
        -ms-transform: scale(1) translateY(50px);
            transform: scale(1) translateY(50px);
  }

  .subtitle {
    margin-left: 50px;
  }
}

.from-top {
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-animation: 1s fromUp ease-in;
          animation: 1s fromUp ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.from-top > * > * {
  -webkit-animation: 1s resistfromUp ease-in;
          animation: 1s resistfromUp ease-in;
}

.from-top-out {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: 1s fromIn ease-in;
          animation: 1s fromIn ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.from-top-out > * > * {
  -webkit-animation: 1s resistfromIn ease-in;
          animation: 1s resistfromIn ease-in;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/*  
                      ----------------------
===========-----------______APP TABS______-----------===========
*/

#header-img-pages {
  width: 200vw;
  height: calc(100vh + 100px);
  left: 0;
}

.subtitle-pages {
  color: #1396ca;
  text-shadow: 0 -1px 1px #ffe7e5d7, 0 0 2px #3dc6fc, 2px 4px 4px #c4bebd60;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: -350px;
}

.message-pages, .message-pages:hover {
  opacity: 1;
  height: 450px;
  width: 400px;
  -webkit-box-shadow: -5px -5px 4px #d3cbbf77, 6px 6px 6px #fbfbfbdd;
          box-shadow: -5px -5px 4px #d3cbbf77, 6px 6px 6px #fbfbfbdd;
  padding-top: 50px;
  -ms-grid-column: 2;
  grid-column: 2;
}

.newsline-pages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 400px;
  grid-template-columns: 1fr 400px;
}

.img-about {
  width: 200vw;
  left: 0;
}

@media only screen and (max-width: 867px) {
  .img-about {
    width: 150vw !important;
  }
  .message-pages, .message-pages:hover {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    height: 400px;
    width: 450px;
  }
  .subtitle-pages {
    position: absolute;
    top: 0;
    z-index: 200;
    margin-top: -40px;
    margin-left: 20px;
    white-space: nowrap;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .toaster-area {
    -webkit-transform: scale(0.85) translateY(20px);
        -ms-transform: scale(0.85) translateY(20px);
            transform: scale(0.85) translateY(20px);
  }
  .subtitle-contact {
    -webkit-transform: translateY(70px) translateX(20px) rotate(-5deg);
        -ms-transform: translateY(70px) translateX(20px) rotate(-5deg);
            transform: translateY(70px) translateX(20px) rotate(-5deg);
    -ms-grid-row: 2;
    grid-row: 2;
  }
  
  figure {
    -ms-grid-row: 3 !important;
    grid-row: 3 !important;
    -ms-grid-column: 1 !important;
    grid-column: 1 !important;
  }

  .newsline-contact {
    margin-top: -100px;
  }

  .subtitle-contact {
    margin-left: 7% !important;
    margin-top: -38px !important;
  }

  .store {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }

  .store:hover {
    -webkit-filter: blur(0);
            filter: blur(0);
  }

}

.subtitle-contact {
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: -50px;
  margin-left: -5%;
}

figure {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.store {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 0 #fbfbfb, -5px -5px 5px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
          box-shadow: 5px 5px 5px 0 #fbfbfb, -5px -5px 5px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
}

.img-cap {
  opacity: 0.8;
}

.globes {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 20px 10px;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0 -1px 12px 0 #fbfbfb, 5px 5px 15px 0 #fbfbfb, -5px -5px 15px 0 #e0e1dc, inset 0 1px 12px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
          box-shadow: inset 0 -1px 12px 0 #fbfbfb, 5px 5px 15px 0 #fbfbfb, -5px -5px 15px 0 #e0e1dc, inset 0 1px 12px 0 #e0e1dc, inset 5px 5px 4px 20px #f3f3f3;
  position: absolute;
  left: -5px;
  right: -5px;
  top: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.globe {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  zoverflow: hidden;
  border-radius: 50%;
  box-sizing: border-box;
  height: 30vh;
  width: 30vh;
  -webkit-box-shadow: inset 0px 1px 10px 0px #eeeeeec2, inset 0px -1px 3px 1px #f3f3f3, inset 9px 12px 15px 1px #fafafa, inset -12px -12px 15px 1px #4e4e4e1a, inset 0 0 50px 20px #f3f3f3, -15px -15px 15px 0 #fbfbfbce, 10px 10px 15px 0 #e0e1dc;
          box-shadow: inset 0px 1px 10px 0px #eeeeeec2, inset 0px -1px 3px 1px #f3f3f3, inset 9px 12px 15px 1px #fafafa, inset -12px -12px 15px 1px #4e4e4e1a, inset 0 0 50px 20px #f3f3f3, -15px -15px 15px 0 #fbfbfbce, 10px 10px 15px 0 #e0e1dc;
  -webkit-filter: blur(1px) grayscale(0.2);
          filter: blur(1px) grayscale(0.2);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.globe-cover {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible !important;
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  background-color: red;
  border-radius: 50%;
  opacity: 0;
  pointer-events: all;
}

.globe:nth-of-type(1) {
  background-image: url('./../img/01.jpg');
}
.globe:nth-of-type(2) {
  background-image: url('./../img/02.jpg');
}
.globe:nth-of-type(3) {
  background-image: url('./../img/03.jpeg');
}
.globe:nth-of-type(4) {
  background-image: url('./../img/04.jpeg');
}
.globe:nth-of-type(5) {
  background-image: url('./../img/05.jpeg');
}
.globe:nth-of-type(6) {
  background-image: url('./../img/06.jpg');
}

.globe img {
  opacity: 0;
}

.globe:hover {
  -webkit-filter: blur(0) saturate(2);
          filter: blur(0) saturate(2);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 1240px) {
  .newsline-menu {
  margin-top: -15vh;
  margin-left: 50px;
  }
}
.toaster-menu {
  top: calc(100vh - 138px)
}

.subtitle-menu {
  position: absolute;
  top: 220px;
  left: 10vw;
}

.img-about {
  width: 110vw !important;
}

.message-pages {
  background-color: #e8e8e6;
}

.newsline-pages ~ .toaster-area .message {
  width: 300px;
}

.newsline-pages ~ .toaster-area:hover .message,
.newsline-pages ~ .toaster-area .message:hover {
  width: 300px;
  height: 120px;
}

/*  
                      ----------------------
===========-----------______ANIMATION ______-----------===========
*/

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@-webkit-keyframes flow {
  0% {
    -webkit-transform: translate(50%, -75%) rotate(0);
            transform: translate(50%, -75%) rotate(0);
  }
  100% {
    -webkit-transform: translate(10%, 20%) rotate(20deg);
            transform: translate(10%, 20%) rotate(20deg);
  }
}

@keyframes flow {
  0% {
    -webkit-transform: translate(50%, -75%) rotate(0);
            transform: translate(50%, -75%) rotate(0);
  }
  100% {
    -webkit-transform: translate(10%, 20%) rotate(20deg);
            transform: translate(10%, 20%) rotate(20deg);
  }
}

@-webkit-keyframes riseup {
  0% {
    margin-top: 250px;
    margin-left: -425px;
  }
  100% {
    margin-top: -20px;
    margin-left: 20px;
  }
}

@keyframes riseup {
  0% {
    margin-top: 250px;
    margin-left: -425px;
  }
  100% {
    margin-top: -20px;
    margin-left: 20px;
  }
}

@-webkit-keyframes rote {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: calc(-50% - 50px);
  }
  20% {
    -webkit-transform: auto;
            transform: auto;
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(-420deg);
            transform: rotate(-420deg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: calc(50% - 25px);
    top: calc(50% - 50px);
  }
}

@keyframes rote {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: calc(-50% - 50px);
  }
  20% {
    -webkit-transform: auto;
            transform: auto;
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(-420deg);
            transform: rotate(-420deg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: calc(50% - 25px);
    top: calc(50% - 50px);
  }
}

@-webkit-keyframes expFade {
  0% {
    border: 0px solid #3dc6fc;
    opacity: 1;
    margin-left: calc(50% - 25px + 0vw);
    top: calc(50% - 50px);
  }
  75% {
    border: auto;
    opacity: 1;
  }
  100% {
    border: 100vw solid #f3f3f3;
    opacity: 0;
    margin-left: calc(50% - 25px - 100vw);
    top: calc(50% - 25px - 100vw);
    visibility: hidden;
    display: none;
  }
}

@keyframes expFade {
  0% {
    border: 0px solid #3dc6fc;
    opacity: 1;
    margin-left: calc(50% - 25px + 0vw);
    top: calc(50% - 50px);
  }
  75% {
    border: auto;
    opacity: 1;
  }
  100% {
    border: 100vw solid #f3f3f3;
    opacity: 0;
    margin-left: calc(50% - 25px - 100vw);
    top: calc(50% - 25px - 100vw);
    visibility: hidden;
    display: none;
  }
}


@-webkit-keyframes shake {
  0% {
    border: 0px solid transparent;
    border-bottom: 7px solid transparent;
  }
  3% {
    border-bottom: 0px solid transparent;
    height: 118px;
  }
  12% {
    height: 122.5px;
  }
  80% {
    border: 0px solid transparent;
  }
  90% {
    border: 3px solid transparent;
  }
  92.5% {
    border: 1px solid transparent;
  }
  95% {
    border: 4px solid transparent;
  }
  100% {
    border: 0px solid transparent;
  }
}


@keyframes shake {
  0% {
    border: 0px solid transparent;
    border-bottom: 7px solid transparent;
  }
  3% {
    border-bottom: 0px solid transparent;
    height: 118px;
  }
  12% {
    height: 122.5px;
  }
  80% {
    border: 0px solid transparent;
  }
  90% {
    border: 3px solid transparent;
  }
  92.5% {
    border: 1px solid transparent;
  }
  95% {
    border: 4px solid transparent;
  }
  100% {
    border: 0px solid transparent;
  }
}


@-webkit-keyframes resistfromUp {
  50% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
}


@keyframes resistfromUp {
  50% {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
}

@-webkit-keyframes fromUp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromUp {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fromIn {
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes fromIn {
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@-webkit-keyframes resistfromIn {
  100% {
    -webkit-transform: translateY(35vh);
            transform: translateY(35vh);
  }
}

@keyframes resistfromIn {
  100% {
    -webkit-transform: translateY(35vh);
            transform: translateY(35vh);
  }
}
